body {
    display: flex;
    background-color: lightslategray;
    justify-content: center;
}

.calc-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
    border: solid black;
    width: 380px;
    height: 420px;
    padding-top: 40px;
    margin: 30px;
}

.calc-screen {
    background-color: white;
    width: 300px;
    height: 60px;
    text-align: end;
}

.calc-display {
    margin-right: 40px;
    font-size: 24px;
}

.calc-buttons {
    justify-content: center;
    align-items: center;
    width: 300px;
    margin-top: 40px;
}

.calc-button {
    background-color: lightblue;
    height: 50px;
    width: 50px;
    margin: 5px;
}
.top-row {
    display: flex;
}

.bottom-row {
    display: flex;
    height: 200px;
    width: 300px;
}


.operation-buttons {
    display: flex;
}

.number-buttons .calc-button {
    background-color: rgb(113, 158, 143);
    margin-right: 0;
}
.big-button {
    height: 110px;
}