body {
    display: flex;
    background-color: lightslategray;
    justify-content: center;
}

.calc-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(97, 123, 196);
    border: solid black;
    width: 380px;
    height: 400px;
    margin-top: 100px;
    border-radius: 5px;
}

.calc-screen {
    background-color: white;
    border: solid black 2px;
    width: 320px;
    height: 60px;
    text-align: end;
    border-radius: 3px;
    margin-top: 30px;
}

.calc-display {
    margin: 15px;
    margin-right: 30px;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
}

.calc-button-container{
    display: flex;
    height: 280px;
    width: 320px;
    margin-top: 20px;
    justify-content: space-evenly;
}

.calc-button {
    background-color: rgb(128, 202, 226);
    height: 55px;
    width: 55px;
    margin: 5px;
    border-radius: 8px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

.operation-buttons {
    display: flex;
}

.number-buttons .calc-button {
    background-color: lightblue;
    margin-right: 0;
}
.tall-button {
    height: 120px;
}

.long-button {
    width: 120px;
}